


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div>
  <h1>
    Welcome to {{ title }} !
  </h1>

  <h1>
    Welcome ANGULAR INTERPOLATION 5
  </h1>
  <h1>
    {{name()}}
  </h1>
  <h1>
    {{shame()}}
  </h1>
  <h1>DATA IS ALL GOOD</h1>
  <h1>{{ obj.name}}</h1>
  <h1>{{ obj.number}}</h1>
  <h1>{{siteURL}}</h1>
  <h1>{{arr}}</h1>
  <h1>{{arr.length}}</h1>
  <h1>{{10+11}}</h1>
  <h1>{{a+b}}</h1>
  <h1>{{a-b}}</h1>
  <h1>{{a*b}}</h1>
  <h1>{{a/b}}</h1>
</div>





<router-outlet></router-outlet>